@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #f9532d;
    --primary-dark: #1F252E;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background: #ffffff;
    color: #000;
}

/* Genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
    height: auto;
}

/* Nav */
header {
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
}

.logo a {
    color: #000;
    text-decoration: none;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

li a.active,
nav li a:hover {
    color: var(--primary-color);
}

#click {
    display: none;
}

.menu {
    display: none;
}

.mode i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}

/* Nav End */

/* Section 1 */

main {
    display: flex;
    align-items: center;
    height: 100vh;
}

main h2 {
    color: #000;
    font-size: 2.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

main h1 {
    color: #000;
    font-size: 5rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

main p {
    font-size: 1.5rem;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.social a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
    opacity: 0;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

.social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}

/* Section 1 End */

.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}

.mode input {
    display: none;
}

.dark-mode .logo a,
.dark-mode ul li a,
.dark-mode main h2,
.dark-mode main h1 {
    color: #fff;
}

.dark-mode ul li a.active, .dark-mode ul li a:hover {
    color: var(--primary-color);
}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}

/* About Section */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 4rem;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    padding-top: 2rem;
}

.about-image {
    order: 1;
    height: 300px;
    border-radius: 60px;
    margin: auto;
    overflow: hidden;
    opacity: 0;
    animation: imageAni 1.2s ease forwards;
    border-top: 2px solid var(--primary-color);
}

.about-image img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.about-detail {
    order: 2;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

.about-detail h2 {
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about-bio {
    color: #000;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.bg-effect-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

.dark-mode .about-detail h2,
.dark-mode .about-bio {
    color: #fff;
}

.dark-mode .about-image {
    background: linear-gradient(145deg, #1f252e, #2e3239);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
    border-top: 2px solid var(--primary-color);
    border-radius: 60px;
    margin: auto;
    overflow: hidden;
}

.dark-mode .bg-effect-2 {
    background: linear-gradient(145deg, #1f252e, #2e3239);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
}

.dark-mode .about-detail h2,
.dark-mode .about-bio {
    color: #fff;
}

/* Skills Section */

.skills {
    padding: 6rem 0;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
}

.skills h2 {
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skills-bio {
    color: #000;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
}

.skill-icon {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    text-align: center;
    opacity: 0;
    animation: skillAni 1s ease forwards;
    animation-delay: calc(.2s * var(--skillAni));
    transition: all .3s ease-in-out;
    pointer-events: none;
}

.skill-icon:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transform: scale(1.2);
}

.dark-mode .skills h2,
.dark-mode .skills-bio {
    color: #fff;
}

.dark-mode .skill-icon {
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
}

.dark-mode .skill-icon:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
}

/* Portfolio Section */

.portfolio {
    padding: 2rem 0;
    opacity: 0;
    animation: rightSideAni 1s ease forwards;
}

.portfolio h2 {
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.portfolio-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
}

.project {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 1fr;
    gap: 2rem;
    row-gap: 2rem;
    column-gap: 4rem;
    align-items: center;
}

.project-image {
    max-height: 800px;
    max-width: 700px;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    opacity: 0;
    animation: imageAni 1.2s ease forwards;
    border-top: 2px solid var(--primary-color);
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.project-detail {
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

.project-detail h3 {
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.project-bio {
    color: #000;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.project-link {
    display: inline-block;
    padding: .3rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    background-color: var(--primary-color);
}

.project-link:hover {
    color: var(--primary-dark);
    box-shadow: 0 0 20px var(--primary-color);
}

.bg-effect-3 {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 20px;
}

.dark-mode .portfolio h2,
.dark-mode .portfolio-bio,
.dark-mode .project-detail h3,
.dark-mode .project-bio,
.dark-mode .project-link {
    color: #fff;
}

.dark-mode .project-image {
    background: linear-gradient(145deg, #1f252e, #2e3239);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
}

.dark-mode .project-link {
    background-color: var(--primary-color);
}

.dark-mode .bg-effect-3 {
    background: linear-gradient(145deg, #1f252e, #2e3239);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
    border-radius: 20px;
}

/* Contact Section */

.contact {
    padding: 2rem 0;
    opacity: 0;
    animation: rightSideAni 1s ease forwards;
  }
  
  .contact h2 {
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .contact-bio {
    color: #000;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-group label {
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 0.5rem;
    border: 1.6px solid var(--primary-color);
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
    outline: none;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: var(--primary-dark);
    box-shadow: 0 0 10px var(--primary-color);
  }
  
  .submit-button {
    display: inline-block;
    padding: .3rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 1rem;
    border: none;
    line-height: 2;
    transition: .3s;
    background-color: var(--primary-color);
    cursor: pointer;
    overflow: hidden;
  }
  
  .submit-button:hover {
    color: var(--primary-dark);
    box-shadow: 0 0 20px var(--primary-color);
  }
  
  .error-message {
    color: red; /* Mengubah warna teks menjadi merah */
    font-size: 0.9rem; /* Mengubah ukuran font menjadi lebih kecil */
    margin-top: 0.5rem; /* Menambahkan jarak antara error message dan input */
  }
  
  .message-sent {
    color: green; /* Mengubah warna teks menjadi hijau */
    font-size: 1.1rem; /* Mengubah ukuran font menjadi lebih besar */
    margin-top: 1rem; /* Menambahkan jarak antara pesan dan tombol */
    display: none; /* Menyembunyikan pesan */
  }
  
  .message-error {
    color: red; /* Mengubah warna teks menjadi merah */
    font-size: 1.1rem; /* Mengubah ukuran font menjadi lebih besar */
    margin-top: 1rem; /* Menambahkan jarak antara pesan dan tombol */
    display: none; /* Menyembunyikan pesan */
  }
  
  .dark-mode .message-sent {
    color: #00ff00; /* Mengubah warna teks menjadi hijau yang lebih terang */
  }
  
  .dark-mode .message-error {
    color: #ff0000; /* Mengubah warna teks menjadi merah yang lebih terang */
  }
  
  .dark-mode .error-message {
    color: #ff0000; /* Mengubah warna teks menjadi merah yang lebih terang */
  }

  .dark-mode .contact h2,
  .dark-mode .contact-bio,
  .dark-mode .form-group label {
    color: #fff;
  }
  
  .dark-mode .form-group input,
  .dark-mode .form-group textarea {
    border: 1.6px solid var(--primary-color);
  }
  
  .dark-mode .form-group input:focus,
  .dark-mode .form-group textarea:focus {
    border-color: var(--primary-dark);
    box-shadow: 0 0 10px var(--primary-color);
  }
  
  .dark-mode .submit-button {
    background-color: var(--primary-color);
  }
  
  /* Footer Section */
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    column-gap: 4rem;
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
  }

  .footer-logo {
    font-size: 1.5rem;
    font-weight: 800;
    padding-left: 1.5rem;
  }
  
  .footer-logo a {
    color: #000;
    text-decoration: none;
  }
  
  .footer-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
  }
  
  .info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
  }
  
  .info i {
    font-size: 1.5rem;
    color: var(--primary-color);
  }
  
  .dark-mode .footer {
    background-color: var(--primary-dark);
  }
  
  .dark-mode .footer-logo a,
  .dark-mode .info {
    color: #fff;
  }
  

/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes skillAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ImgAni {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-9px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }
}

@media screen and (max-width: 840px) {
    .project-image {
        width: 700px;
    }
    .portfolio-projects {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .project {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .project-image {
        order: 1;
    }

    .project-detail {
        order: 2;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0rem 1.8rem;
    }

    main h1 {
        font-size: 3.5rem;
    }

    main h2 {
        font-size: 1.8rem;
    }

    main p {
        font-size: 1.3rem;
    }

    .project-image {
        width: 510px;
    }
}

@media screen and (max-width: 600px) {    
    body {
        height: auto;
    }

    header {
        height: auto;
    }
    
    ul {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }
    
    .container {
        padding: 0 1.6rem;
    }

    main h1 {
        font-size: 3rem;
    }

    main h2 {
        font-size: 1.5rem;
    }

    main p {
        font-size: 1rem;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }

    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }

    .images {
        width: 100%;
        margin: auto;
    }

    main {
        margin-top: 2rem;
    }

    .about {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-image {
        order: 1;
    }

    .about-detail {
        order: 2;
    }

    .skills-icons {
        gap: 1rem;
    }

    .portfolio-projects {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .project {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .project-image {
        order: 1;
    }

    .project-detail {
        order: 2;
    }

    .contact-info {
        gap: 1rem;
    }

    .footer {
        flex-direction: column;
        align-items: start;
        row-gap: 2.5rem;
        padding: 1rem 1.5rem;
    }

    .footer-info {
        flex-direction: column;
    }
}

@media screen and (max-width: 440px) {
    main h1 {
        font-size: 2rem;
    }

    .project-image {
        width: 300px;
    }

    .footer-logo {
        padding-top: 1.5rem;
    }
}